<div class="row">
  <div class="col-md-9 padding-0">
    <div style='height: 500px; overflow: hidden'>
      <% if @user.cover_image.attached? %>
        <%= image_tag @user.cover_image, class: "img-fluid" %>
      <% else %>
        <img src="https://via.placeholder.com/2000x1000" alt="" class="img-fluid">
      <% end %>
    </div>
    <h3 class="text-center text-primary font-weight-bold py-3"><%= @user.username %>'s Memos</h3>
    <div class="mt-3 px-3">
      <% @user.memos.each do |memo| %>
        <div class="card my-2">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <% if memo.user.profile_image.attached? %>
                  <%= image_tag memo.user.profile_image, class: "img-fluid rounded-circle" %>
                <% else %>
                  <%= image_pack_tag 'profile_placeholder.jpg', class: "img-fluid rounded-circle"%>
                <% end %>
              </div>
              <div class="col-10">
                <h5 class="font-weight-bold"><%= memo.user.username %></h5 class="font-weight-bold">
                <%= memo.body %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to 'Show', memo, class: "btn btn-sm btn-info" %>
            <% if current_user == @user %>
              <%= link_to 'Edit', edit_memo_path(memo), class: "btn btn-sm btn-success" %>            
              <%= link_to 'Destroy', memo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
            <%end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 bg-light">
      <h5 class="text-center font-weight-bold mt-3"><%= @user.username %></h5>
      <div class="row">
        <div class="col-8">
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.profile_image, class: "img-fluid" %>
          <% else %>
            <%= image_pack_tag 'profile_placeholder.jpg', class: "img-fluid"%>
          <% end %>
        </div>
        <div class="col-4 align-self-center">
          <% if !(current_user == @user) %>
            <% if current_user.following?(@user) %>
              <%= button_to  friendships_path(user_id: @user.id), remote: true, method: :delete, class: "btn btn-danger" do %> 
                <i class="fas fa-user-times"></i>
              <% end %>
            <% else %>
              <%= button_to  friendships_path(user_id: @user.id), remote: true, class: "btn btn-success" do %> 
                <i class="fas fa-user-plus"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <div class="col-4 text-center border py-2 text-secondary font-weight-bold">
          Memos <%= @user.memos.count %>
        </div>
        <div class="col-4 text-center border py-2 text-secondary font-weight-bold">
          Followers <%= @user.followers.count %>
        </div>
        <div class="col-4 text-center border py-2 text-secondary font-weight-bold">
          Following <%= @user.following.count %>
        </div>
      </div>
      <div class="">
        <h6 class="text-center font-weight-bold mt-3">Followed by</h6>
        <% @user.followers.each do |user| %>
        <div class="card my-2">
          <div class="card-header">
            <h4 class="text-center d-flex justify-content-between">
              <%= link_to  user.username, user %>
              <% if !(current_user == user) %>
                <% if current_user.following?(user) %>
                  <%= button_to  friendships_path(user_id: user.id), remote: true, method: :delete, class: "btn btn-danger" do %> 
                    <i class="fas fa-user-times"></i>
                  <% end %>
                <% else %>
                  <%= button_to  friendships_path(user_id: user.id), remote: true, class: "btn btn-success" do %> 
                    <i class="fas fa-user-plus"></i>
                  <% end %>
                <% end %>
              <% end %>
            </h4>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>
