<div class="row">
  <div class="col-md-9">
    <% if @user.cover_image.attached? %>
      <%= image_tag @user.cover_image, class: "img-fluid" %>
    <% else %>
      <img src="https://via.placeholder.com/2000x500" alt="" class="img-fluid">
    <% end %>
    <div class="mt-3">
      <% @user.memos.each do |memo| %>
        <div class="card my-2">
          <div class="card-body">
            <%= memo.body %>
          </div>
          <div class="card-footer">
            <%= link_to 'Show', memo, class: "btn btn-sm btn-info" %>
            <%= link_to 'Edit', edit_memo_path(memo), class: "btn btn-sm btn-success" %>            
            <%= link_to 'Destroy', memo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 bg-secondary">
      <h5 class="text-center font-weight-bold mt-3"><%= @user.username %></h5>
      <div class="row">
        <div class="col-8">
          <% if @user.cover_image.attached? %>
            <%= image_tag @user.profile_image, class: "img-fluid" %>
          <% else %>
            <%= image_pack_tag 'profile_placeholder.jpg', class: "img-fluid"%>
          <% end %>
        </div>
        <div class="col-4 align-self-center">
          <% if current_user.following?(@user) %>
            <%= button_to  friendships_path(user_id: @user.id), remote: true, method: :delete, class: "btn btn-danger" do %> 
              <i class="fas fa-user-times"></i>
            <% end %>
          <% else %>
            <%= button_to  friendships_path(user_id: @user.id), remote: true, class: "btn btn-success" do %> 
              <i class="fas fa-user-plus"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row ">
        <div class="col-4">
          <button type="button" class="btn btn-info">
            Memos <br><span class="badge badge-light"><%= @user.memos.count %></span>
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-info">
            Followers <span class="badge badge-light"><%= @user.followers.count %></span>
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-info">
            Following <span class="badge badge-light"><%= @user.following.count %></span>
          </button>
        </div>
      </div>
      <div class="">
        <h6 class="text-center font-weight-bold mt-3">Followed by</h6>
        <% @user.followers.each do |user| %>
        <div class="card my-2">
          <div class="card-header">
            <h4 class="text-center d-flex justify-content-between">
              <%= link_to  user.username, user %>
              <% if !(current_user == user) %>
                <% if current_user.following?(user) %>
                  <%= button_to  friendships_path(user_id: user.id), remote: true, method: :delete, class: "btn btn-danger" do %> 
                    <i class="fas fa-user-times"></i>
                  <% end %>
                <% else %>
                  <%= button_to  friendships_path(user_id: user.id), remote: true, class: "btn btn-success" do %> 
                    <i class="fas fa-user-plus"></i>
                  <% end %>
                <% end %>
              <% end %>
            </h4>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>
