<div class="row">
  <div class="col-md-9">
  <div class="card mt-3 p-3">
    <h4 class="text-primary">Make new Memo</h4>
    <div class="">
      <%= render 'form', memo: @memo %>
    </div>
  </div>
    <div class="mt-3">
      <% @memos.each do |memo| %>
        <div class="card my-2">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <% if memo.user.cover_image.attached? %>
                  <%= image_tag memo.user.profile_image, class: "img-fluid rounded-circle" %>
                <% else %>
                  <%= image_pack_tag 'profile_placeholder.jpg', class: "img-fluid rounded-circle"%>
                <% end %>
              </div>
              <div class="col-10">
                <h5 class="font-weight-bold"><%= memo.user.username %></h5 class="font-weight-bold">
                <%= memo.body %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to 'Show', memo, class: "btn btn-sm btn-info" %>
            <%= link_to 'Edit', edit_memo_path(memo), class: "btn btn-sm btn-success" %>            
            <%= link_to 'Destroy', memo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 bg-secondary">
     <h2 class="text-center font-weight-bold mt-4 py-1">To follow</h2>
    <div class="pt-1">
      <% User.where.not(id: current_user.id).each do |user| %>
        <% if !current_user.following?(user) %>
        <div class="card">
          <div class="card-header">
            <h4 class="text-center d-flex justify-content-between">
              <%= link_to  user.username, user %>
              <% if current_user.following?(user) %>
                <%= button_to  friendships_path(user_id: user.id), remote: true, method: :delete, class: "btn btn-danger" do %> 
                  <i class="fas fa-user-times"></i>
                <% end %>
              <% else %>
                <%= button_to  friendships_path(user_id: user.id), remote: true, class: "btn btn-success" do %> 
                  <i class="fas fa-user-plus"></i>
                <% end %>
              <% end %>
            </h4>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
