<div class="col-md-2 heigh position-sticky text-light pt-4 p-0" style="
        top: 0;
        height: 100vh;
        background-color: #213346;">
    <div class="row mb-3 px-4">
        <div class="col-4 p-0">
            <% if current_user.profile_image.attached? %>
                <%= image_tag current_user.profile_image, class: "img-fluid" %>
            <% else %>
                <%= image_pack_tag 'profile_placeholder.jpg', class: "img-fluid"%>
            <% end %>
        </div>
        <div class="col-8 align-self-center font-weight-bold"><%= current_user.username %></div>
    </div>
    <div class="row justify-content-between px-4">
        <button type="button" class="btn btn-info">
        followers <span class="badge badge-light"><%= current_user.followers.count %></span>
        </button>
        <button type="button" class="btn btn-info">
        following <span class="badge badge-light"><%= current_user.following.count %></span>
        </button>
    </div>
    <ul class="list-group mt-4">
        <li class="list-group-item border-0 bg-info"><%= link_to "Home", root_path ,class: "text-white"%></li>
        <li class="list-group-item border-0 bg-transparent"><%= link_to "Profile", current_user ,class: "text-white"%></li>
    </ul>
</div>